$primary-color: #FFFFFF;
$secondary-color: #F8F8F8;
$primary-dark-color: #222222;
$secondary-dark-color: #111111;

$border-radius-small: 8px;
$border-radius-big: 20px;

$tablet: 1350px;
$mobile: 730px;
