.footer {
  border-radius: $border-radius-big;
  @include theme ($background: $primary-dark-color, $color: $primary-color);
  @include flex($direction: column, $align: flex-start);
  width: calc(100vw - 11.1vw - 20px);
  max-width: 1260px;
  padding: 60px 0 60px 160px;
  // padding: 60px 0 60px 11.1vw;
  margin-top: 60px;
  position: relative;

  @media (max-width: $tablet) {
    width: calc(100vw - 6.5vw - 20px);
    padding: 50px 0 50px 50px;
    max-width: 1000px;
    // padding: 50px 0 50px 6.5vw;
    margin-top: 0;
  }
  @media (max-width: $tablet-small) {
    padding: 20px;
    width: calc(100vw - 8vw - 20px);
    // max-width: 440px;
  }
  @media (max-width: $mobile) {
    // width: calc(100vw - 12.5vw - 20px);
    // padding: 20px 6.25vw;
    max-width: fit-content;
    // padding: 20px;
    align-items: center;
  }

  &__title {
    @include font($weight: 600, $size: 32px, $l-height: 38px);
    max-width: 470px;
    margin: 0;
    @media (max-width: $tablet) {
      max-width: 300px;
    }
    @media (max-width: $tablet-small) {
      max-width: 240px;
      @include font($weight: 600, $size: 22px, $l-height: 24px);
    }
    @media (max-width: $mobile) {
      @include font($weight: 600, $size: 24px, $l-height: 29px);
      max-width: 260px;
      }
  }
  &__text {
    @include font($weight: 400, $size: 18px, $l-height: 26px, $opacity: .7);
    margin: 20px 0 174px;
    @media (max-width: $tablet) {
      max-width: 300px;
      margin-bottom: 130px;
    }
    @media (max-width: $tablet-small) {
      max-width: 240px;
      @include font($weight: 400, $size: 11px, $l-height: 14px, $opacity: .7);
    }
    @media (max-width: $mobile) {
      @include font($weight: 400, $size: 12px, $l-height: 15px, $opacity: .7);
      margin: 14px 0 95px;
      width: 260px;
    }
  }
  &__link {
    border-radius: $border-radius-small;
    padding: 15px 190px;
    text-decoration: none;
    @media (max-width: $tablet) {
      padding: 12px 80px;
    }
    @media (max-width: $tablet-small) {
      padding: 10px 55px;
    }
    @media (max-width: $mobile) {
      padding: 10px 96px;
    }
  }
  &__image {
    width: 311px;
    height: 500px;
    position: absolute;
    background-image: url(../images/footer-mobile-screen.svg);
    background-position: top;
    background-size: cover;
    top: -30px;
    right: 220px;
    // // right: 15.3vw;
    // clip: rect(0, 311px, 500px, 0);
    @media (max-width: $tablet) {
      width: 250px;
      height: 430px;
      right: 9vw;
      // clip: rect(0, 250px, 430px, 0);
    }
    @media (max-width: $tablet-small) {
      top: -25px;
      right: 20px;
      width: 215px;
      height: 321px;
    }
    @media (max-width: $mobile) {
      display: none;
    }
  }
}
